#enterBtn {
	background-color: #52b700;
	color:#DFF1D0;
	padding:6px;
	min-width:80px;
}

#enterBtn:hover {
	color:#fff;
	background-color: #71C42E;
}

button.submit {
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
